<div id="myCarousel" class="carousel slide" data-ride="carousel">
		<!-- Indicators -->
		<ol class="carousel-indicators">
			<li data-target="#myCarousel" data-slide-to="0" class="active"></li>
			<li data-target="#myCarousel" data-slide-to="1"></li>
			<li data-target="#myCarousel" data-slide-to="2"></li>
                        <li data-target="#myCarousel" data-slide-to="3"></li>
                        <li data-target="#myCarousel" data-slide-to="4"></li>
                        <li data-target="#myCarousel" data-slide-to="5"></li>
		</ol>
		<div class="carousel-inner">
			<div class="item active">
                            <img src="../assets/images/home-{{page.lang}}.png" alt="First slide">
				<!--  <div class="container"> -->
				<div class="carousel-caption">
					<h1></h1>
				<!--</div> -->
				</div>
			</div>
			<div class="item">
                            <img src="../assets/images/modalità-{{page.lang}}.png" alt="Second slide">
				<!--<div class="container"> -->
				<div class="carousel-caption">
					<h1></h1>
				</div>
				<!--</div> -->
			</div>
			<div class="item">
                            <img src="../assets/images/timer-{{page.lang}}.png" alt="Third slide">
				<!--<div class="container"> -->
				<div class="carousel-caption">
					<h1> </h1>
				</div>
				<!--</div> -->
			</div>
                    <div class="item">
                        <img src="../assets/images/grafici-{{page.lang}}.png" alt="Forth slide">
				<!--<div class="container"> -->
				<div class="carousel-caption">
					<h1> </h1>
				</div>
				<!--</div> -->
			</div>
                    <div class="item">
                        <img src="../assets/images/costo-{{page.lang}}.png" alt="Fifth slide">
				<!--<div class="container"> -->
				<div class="carousel-caption">
					<h1> </h1>
				</div>
				<!--</div> -->
			</div>
                    <div class="item">
                        <img src="../assets/images/alerting-{{page.lang}}.png" alt="Sixth slide">
				<!--<div class="container"> -->
				<div class="carousel-caption">
					<h1></h1>
				</div>
				<!--</div> -->
			</div>
		</div>
		<a class="left carousel-control" href="#myCarousel" data-slide="prev"><span class="glyphicon glyphicon-chevron-left"></span></a> <a class="right carousel-control" href="#myCarousel" data-slide="next"><span class="glyphicon glyphicon-chevron-right"></span></a>
	</div>