<div id="developer-side-navbar">
    <ul  class="list-group">
        <li class="list-group-item active"> <a href="#gateway-description">{{ site.t[page.lang].gateway-description }}</a></li>
        <li class="list-group-item"> <a href="#operation">{{ site.t[page.lang].operation }}</a></li>
        <li class="list-group-item" > <a href="#installation">{{ site.t[page.lang].installation }}</a></li>
        <li class="list-group-item" > <a href="#data-history">{{ site.t[page.lang].data-history }}</a></li>
        <li class="list-group-item" > <a href="#logging">{{ site.t[page.lang].logging }}</a></li>
        <li class="list-group-item" > <a href="#configuration-file-format">{{ site.t[page.lang].configuration-file-format }}</a></li>
        <li class="list-group-item" > <a href="#daemon">{{ site.t[page.lang].daemon }}</a></li>
        <li class="list-group-item" > <a href="#device">{{ site.t[page.lang].device }}</a></li>
        <li class="list-group-item" > <a href="#holding-registers">{{ site.t[page.lang].holding-registers }}</a></li>
        <li class="list-group-item" > <a href="#input-registers">{{ site.t[page.lang].input-registers }}</a></li>
        <li class="list-group-item" > <a href="#coils">{{ site.t[page.lang].coils }}</a></li>
        <li class="list-group-item" > <a href="#config-myna">{{ site.t[page.lang].config-myna }}</a></li>
    </ul>
</div>
